# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
env/
venv/
.env

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Presentation Guide (Local only, do not commit to GitHub)
[Pp][Aa][Nn][Dd][Uu][Aa][Nn]_[Pp][Rr][Ee][Ss][Ee][Nn][Tt][Aa][Ss][Ii].[Mm][Dd]
